<button (click)="router.navigateByUrl('/pokemons')">Back to list</button>
<div *ngIf="pokemon">
  <h2>#{{pokemon.id}} {{pokemon.name}}</h2>
  <img src={{imageLink}}/>
  <div>
    Types (click to show average stats of that type in blue):
    <br/>
    <br/>
    <div *ngFor="let type of pokemon.types">
      <label>
        <input type="radio" name="type" (click)="onTypeClick(type)">
        {{type}}
      </label>
    </div>
    <br/>
  </div>
  <my-stats-chart
    [pokemonStats]="pokemon.stats"
    [averageStats]="statsOfType[selectedType]"
  ></my-stats-chart>
</div>
